<div class="container background-cream background-image">
    <div class="inner-container">

        <div class="box" style="text-align: end; align-items: end;">
            <h1>WORK
                <img class="img" src="/assets/img/nav1.png">
            </h1>
        </div>

        <div class="box">
            <h1>
                <i class="h1-italic">ABOUT</i>
                <br>
                <img class="img" style="width: 250px;" src="/assets/img/nav2.png">
            </h1>
        </div>

        <div class="box">
            <h1 style="text-align: start;">contact
                <img class="img" src="/assets/img/nav3.png">
            </h1>
        </div>

    </div>
</div>