
<div class="header">
    <div class="items">
        <button class="button"
                aria-hidden="false" 
                aria-label="Example home icon"
                (click)="toggleOverlay()"
                cdkOverlayOrigin #trigger="cdkOverlayOrigin">
        <mat-icon class="icon main-color" >
            {{isOpen ? "close" : "menu"}}
        </mat-icon>
        </button>
  </div>
</div>
  <!-- This template displays the overlay content and is connected to the button -->
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen"
    (detach)="isOpen = false">
    <ul class="nav-items font-fadeIn">
        <a class="main-color" [routerLink]="['/']" (click)="toggleOverlay()">
            <h3>Home</h3>
        </a>
        <a class="main-color" [routerLink]="['/resume']" (click)="toggleOverlay()">
            <h3>Lebenslauf</h3>
        </a>
    <br>
    <br>
    <h4>CONTACT</h4>
    <p>lissaschwarz&#64;yahoo.de</p>
    <p>+49 1713478652</p>
    </ul>
  </ng-template>
  
  