<div class="container background-cream img-shape">
    <div class="inner-container">
        <div class="box main-color">
            <h1>BILDUNG</h1>
            <p>
                Seit 2022 studiere ich Medieninformatik (Master) an der FH-Düsseldorf.
                <br>
                <br>
                2022 habe ich meinen Bachelorabschluss (Abschlussnote 2,5) in Informatik an der Heinrich-Heine-Universität in Düsseldorf erhalten.
                <br>
                <br>
                Meine Bachelorarbeit habe ich in dem Thema “Entwicklung einer Web-Anwendung für die Hochzeitbranche” mit der Note 1,0 geschrieben. 
                <br>
                <br>
                Schulische Ausbildung als Gestaltungstechnische Assistentin.
            </p>
        </div>
    
        <div class="box">   
        </div>
    </div>
</div>