.box {
    text-align:end;
    padding-top: 0px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   .container {
       display:grid;
   }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
   .box {
       padding-bottom: 50px;
       text-align: left;
   }
}