<div class="container background-cream img-shape">
    <div class="inner-container">
        <div class="box">
        </div>
    
        <div class="box main-color">
            <h1>ARBEIT</h1>
            <p>
                Über 7 Jahre Erfahrung als selbstständige Fotografin. 
                Autodidaktisch erworbenes Wissen über Fotografie, Kundengewinnung, Website (Wordpress, SEO, ...), Werbeanzeigen u.v.m.
                <br>
                <br>
                Umsetzung der Anwendung für Hochzeitsbranche. 
                Im Zuge dessen habe ich zwei Stipendien erhalten (EXIST-Women und das Gründerstipendium NRW). 
                Im EXIST-Women Stipendium habe ich zudem zahlreiche Workshops zum Thema Gründung besucht.
                <br>
                <br>
                Studentische Hilfskraft bei Dr. Sam GmbH in Düsseldorf im Bereich IT. 
                Unterstüzung bei der Übersicht Finanzdashoards in der Programmiersprache Phyton.
                <br>
                <br>
                Studentische Hilfskraft im ITZ-Bund, Düsseldorf im Bereich Anforderungsmanagement. 
            </p>
        </div>
    </div>
</div>