.box {
    text-align: start; 
}

.middle-box{
    padding-left: 10px;
    padding-right: 10px;
}

.img-overview{
    width: 350px;
    height: auto;
    object-fit: contain;
}

.img-mobile{
    width: 200px;
    height: auto;
    transform: translateX(30px);  
}

.img-mobile-small{
    width: 150px;
    height: auto;
    padding: 10px;
}

.padding{
    padding-top: 0px;
}

.tags{
    border-color: #2C75D6;
}


.row{
    display: flex;
    justify-content: center;
    flex-direction:row;  
    align-items: center; /* Center items horizontally */
}

 /* Small devices (tablets, 768px and up) */
 @media (max-width: 768) { 

    .row{
        flex-direction: column;
    }
    .img-overview{
        width: 250px;
    }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .box {
        padding-top: 100px;
    } 
}

@media (max-width: 600px) { 
    .img-overview{
        width: 300px;
    }

    .img-mobile-small{
        width: 100px;
    }

    .box {
        padding-top: 10px;
    } 

    .padding{
        padding-top: 50px;
    }

    .container{
        justify-content:center;
    }
}
