<div class="container background-dark">
    <div class="inner-container">

        <div class="box main-color padding">
            <h1>FULL DEVELOPEMENT</h1>
            <p>
                Von der Idee bis zur Umsetzung: komplette Implementierung einer Webanwendung.
                <br>
                <br>
                Idee, Konzept, Design, Umsetzung in Angular (Frontend) und Firebase (Backend.
            </p>
            <br>
            <div class="font-width font-fadeIn">
                <span class="tags" *ngFor="let skill of skills">
                    {{skill}} 
                </span>
            </div>
        </div>
    
        <div class="box row">
            <img class="img-mobile" src="/assets/img/festya-mobile1.png">
            <img class="img-overview" src="/assets/img/festya-overview1.png">
        </div>
        <div class="box center">
            <img class="img-overview" style="width: 300px;" src="/assets/img/festya-mockup.png">
            <img class="img-mobile-small" src="/assets/img/festya-mobile2.png">
        </div>

    </div>
</div>