@font-face {
    font-family: 'aileron';
    src: url(https://use.typekit.net/ued3xfo.css);
}

@font-face {
    font-family: 'Cormorant-Italic';
    src: url('assets/fonts/Cormorant-Italic-VariableFont_wght.ttf');
  }

@font-face {
    font-family: 'Cormorant';
    src: url('assets/fonts/Cormorant-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Cormorant-Bold';
    src: url('assets/fonts/CormorantGaramond-Bold.ttf');
}

@font-face {
    font-family: 'Cormorant-BoldItalic';
    src: url('assets/fonts/CormorantGaramond-BoldItalic.ttf');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1{
    font-family: 'Cormorant-Bold';
    font-size: 48px;
    font-weight: 10;
    color: #2C75D6;
  }

h1-italic{
    font-family:'Cormorant-BoldItalic';
    color: #2C75D6;
    font-size: 48px;
}

h3{
    font-family: 'aileron', sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    color: #2C75D6;
}

p {
    font-family: 'aileron', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

.main-color{
    color: #2C75D6;
}

.container{
    display:flex;
    justify-content:center; /* Center the items */
    box-sizing: border-box;
    flex-direction: row;
}

.background-cream{
    background-color: #EBEAE6;
    background-size: cover;
    
}

.background-dark{
    background-color: #2B2B2A;
    background-size: cover;
}

.box {
    flex: 1; /* Nimmt gleichen Platz ein */
    display: flex;
    flex-direction: column; /* Stapelt den Inhalt vertikal */
    text-align: center;
    position: relative;
    box-sizing: border-box;
    justify-items: center;
    justify-content: center;
    padding: 100px;  
}

@media (max-width: 575.98px) { 
    .container {
        display:grid;
    }
}