@font-face {
    font-family: 'aileron';
    src: url(https://use.typekit.net/ued3xfo.css);
}

@font-face {
    font-family: 'Cormorant-Italic';
    src: url('assets/fonts/Cormorant-Italic-VariableFont_wght.ttf');
  }

@font-face {
    font-family: 'Cormorant';
    src: url('assets/fonts/Cormorant-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Cormorant-Bold';
    src: url('assets/fonts/CormorantGaramond-Bold.ttf');
}

@font-face {
    font-family: 'Cormorant-BoldItalic';
    src: url('assets/fonts/CormorantGaramond-BoldItalic.ttf');
}

h1{
    font-family: 'Cormorant-Bold';
    font-size: 48px;
    font-weight: 10;
    color: #2C75D6;
  }

h1-italic{
    font-family:'Cormorant-BoldItalic';
    color: #2C75D6;
    font-size: 48px;
}

h3{
    font-family: 'aileron', sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 20px;
    color: #2C75D6;
}

p {
    font-family: 'aileron', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.main-color{
    color: #2C75D6;
}

.center{
    align-items: center;
}

.container{
    display:flex;
    /*justify-content:center;
    /*box-sizing: border-box;
    flex-direction: row; */
    
}

.inner-container{
    display: flex;
    align-items: center;
    max-width: 1500px;
    width: 100%;
    margin: auto;
}

.background-cream{
    background-color: #EBEAE6;
    background-size: cover;
    
}

.background-dark{
    background-color: #343433;
    background-size: cover;
}

.box {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    justify-items: center;
    justify-content: center;
    padding: 80px;  
    width: 100%;
}

.font-fadeIn {
    opacity: 0; 
    animation: fadeIn 2s ease-in forwards; 
}

.tags{
    
    font-size: 14px;
    color: #2C75D6;
    font-style:normal;
    opacity: 0.7;
    margin: 5px;
    padding: 6px;
    border-radius: 12px;
    text-decoration: none;
    width: fit-content;
    line-height: 250%;
    border-color: #000000;
    border-style:solid;
    border-width: 0.1cap;
    
  }

  .tags:hover{
    opacity: 1.0;
  }

@keyframes fadeIn {
    to {
        opacity: 1; 
    }
}

/* Very Small devices */
@media (max-width: 575.98px) { 
    .container {
        display:grid;
    }

    .box {
        padding: 65px;
    }

    .inner-container{
        flex-direction: column;
        
        
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container {
        justify-content: center;
    }

    .box{
        padding: 50px;
    }
}