.box {
    padding: 100px;
}

.img{ 
    align-self: center;
    width: 250px;
}

.font-width{
    width: 350px;
    align-self: center;
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .box {
        padding-top: 150px;
    }   
 }

 /* Small devices (tablets, 768px and up) */
@media (min-width: 768) { 
    
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .box {
        padding-top: 150px;
    } 
}