<div class="container background-cream background-image">
    <div class="inner-container">
        <div class="box" style="text-align: end; align-items: end;">
            <h1>
                <a href="#developement">WORK</a>
                <br>
                <img class="img animate slideInLeft" src="/assets/img/nav1.png">
            </h1>
        </div>

        <div class="box">
            <h1>
                <i class="h1-italic">
                    <a href="#about">ABOUT</a>
                </i>
                <br>
                <img class="img animate slideInDown" style="width: 250px;" src="/assets/img/nav2.png">
            </h1>
        </div>

        <div class="box">
            <h1 style="text-align: start;">
                <a href="#contact">contact</a>
                <br>
                <img class="img animate slideInRight" src="/assets/img/nav3.png">
            </h1>
        </div>
    </div>
</div>