<div class="container background-dark main-color">
    <div class="inner-container">
        <div class="box">
            <h1>Let's talk!</h1>
            <p>hello&#64;lissaschwarz.de
                <br>
                +49 171 3478652</p>
        </div>
        <div class="box">
            <p>Diese Website wurde mit Angular gebaut. <a href="https://github.com/litzerglitzer/lissadev">Hier</a> findet ihr den Code.</p>
        </div>
        <div class="box">
            <p>
                <a [routerLink]="['/']">Home</a>
                <br>
                <a [routerLink]="['/imprint']">Impressum</a>
            </p>
        </div>
    </div>
</div>
<div class="background-dark main-color">
    
    <div class="inner-container">
        <div class="box">
            <p>© Lissa Schwarz 2024</p>
        </div>   
    </div>
</div>


